# Changing dependencies here will need the hash to be updated in nix/windows-installer.nix!
# We need 1.19.3 for some windows installations.
# https://github.com/numpy/numpy/wiki/FMod-Bug-on-Windows
numpy
pygame
PyYAML
pymunk
python-ev3dev2
opensimplex
pygame-gui
sentry-sdk
debugpy
python-certifi-win32
mindpile
requests
