name: Windows Executable Creation

jobs:
  create-exe:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v1
    # Standard drop-in approach that should work for most people.

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements-dev.txt

    - name: Build with pyinstaller
      run: |
        python -m build_exe
    # Create an artifact of the html output.
    - uses: actions/upload-artifact@v1
      with:
        name: windows_package
        path: dist/ev3sim
